.container {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  color: var(--white);
  background: #ffffffa8;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > p {
  letter-spacing: 0.05rem;
  line-height: 175%;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
  color: var(--black);
}

.container > p > a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.container span {
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.header {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: auto;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.blue {
  color: var(--blue-crayola);
}

.purple {
  color: var(--han-purple);
}

.green {
  color: #008a6c;
}

.red {
  color: #c32222;
}

@media (min-width: 500px) {
  .container p {
    margin-bottom: 3rem;
    font-size: 1.25rem;
  }

  .header {
    margin-top: 0;
    font-size: 2.5rem;
  }
}
