.container {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  color: var(--white);
}

.header {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: auto;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.title {
  color: var(--han-purple);
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.25rem;
  margin: 1.5rem 0 0 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.addOn {
  color: var(--blue-crayola);
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 500px) {
  .header {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .addOn {
    font-size: 1rem;
  }

  .skills {
    justify-content: center;
    flex-wrap: wrap;
  }

  .skills > div {
    width: 40%;
    margin: 1rem;
  }
}
