.container {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  color: var(--white);
}

.header {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: auto;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.title {
  color: var(--han-purple);
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.25rem;
  margin: 1.5rem 0 0 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.addOn {
  color: var(--blue-crayola);
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 500px) {
  .header {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .addOn {
    font-size: 1rem;
  }

  .skills {
    justify-content: center;
    flex-wrap: wrap;
  }

  .skills > div {
    width: 40%;
    margin: 1rem;
  }
}

@media (min-width: 1440px) {
  .header {
    font-size: 6rem;
    margin-bottom: 2.5rem;
  }

  .divider {
    display: none;
  }

  .infoCard {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    width: 600px;
    box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 3rem;
  }

  .infoCard h3,
  .infoSkills h3 {
    margin: 0;
    letter-spacing: 0.3rem;
  }

  .infoSkills {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.25);
    width: 1000px;
    margin: auto;
    margin-bottom: 3rem;
  }

  .skills {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .skills > div {
    width: 33%;
    margin-top: 1.5rem;
  }

  .skills > div:first-child {
    margin-left: 0;
  }

  .skills > div:last-child {
    margin-right: 0;
  }
}
