.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contact > div {
  display: flex;
  margin: 1rem auto 0 auto;
}

.contact > div > p {
  margin: 0;
  margin-left: 0.5rem;
  letter-spacing: 0.1em;
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 600;
}
