.main {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  margin: auto;
  position: relative;
}

.static {
  width: 100%;
  height: 1px;
  background-color: var(--grey-300);
  margin: auto;
}

.animation {
  width: 10%;
  height: 100%;
  background-color: var(--blue-crayola);
  position: absolute;
}
