.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  z-index: 2;
  align-items: center;
  position: fixed;
  width: 100%;
  border-radius: 0;
}

.desktopMenu {
  display: none;
  list-style-type: none;
  letter-spacing: 0.05rem;
  color: var(--black);
  font-weight: 500;
  padding-left: 0;
  flex-grow: 1;
  margin: 0;
}

.desktopMenu > li {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  cursor: pointer;
}

.desktopMenu > li:hover {
  background-color: var(--white);
}

.name {
  margin: auto 0;
  letter-spacing: 0.1em;
  color: var(--blue-crayola);
  font-weight: 500;
  opacity: 0;
}

.header > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem 0;
}

.menu > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  margin-right: auto;
  cursor: pointer;
}

.menu > div:hover,
.menu > div:active {
  border-radius: 0.5rem;
  background-color: var(--grey-200);
  color: var(--blue-crayola);
}

.menu > div:last-child {
  margin-bottom: 0;
}

.menu > div > p {
  margin: 0;
  margin-left: 2rem;
  letter-spacing: 0.05rem;
  padding-right: 1rem;
}

.menu > div > p.selected,
.selected {
  color: var(--blue-crayola);
}

.contact {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .mobileMenu {
    display: none;
  }

  .desktopMenu {
    display: flex;
    justify-content: flex-end;
  }

  .name {
    display: none;
  }
}

@media (min-width: 768px) {
  .desktopMenu > li {
    margin-left: 1.5rem;
  }
}
