.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 6rem;
  background: url(/images/bg-alt.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.name {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}
.profileImage {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.profileImage > div {
  border-radius: 0.5rem;
  filter: drop-shadow(1px 1px 32px rgba(0, 0, 0, 0.25));
}
.intro > * {
  margin: 0;
  text-align: center;
}
.intro .greeting {
  color: var(--grey-400);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
}
.intro .name {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.intro .title {
  color: var(--blue-crayola);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
.intro p {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  line-height: 175%;
  margin-bottom: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 3.5rem;
}
.card .contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.card .contact > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card .contact > *:first-child {
  margin-bottom: 1rem;
}
.card .contact > div > p {
  margin: 0;
  margin-left: 0.5rem;
  letter-spacing: 0.1em;
  color: var(--black);
  font-size: 0.75rem;
}
.resume {
  background-color: var(--han-purple);
  padding: 1rem 1.5rem;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  box-shadow: 1px 1px 32px rgb(0 0 0 / 25%);
}
.resume:focus {
  outline: none;
}
.resume:hover {
  background-color: var(--han-purple-dark);
}
.links {
  display: flex;
}
.links .icon {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  cursor: pointer;
}
.links .icon:hover {
  background-color: var(--han-purple-lighter);
}
