.image {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 25px rgb(0 0 0 / 25%);
}

.image > div {
  border-radius: 0.5rem;
}

.links {
  display: flex;
  justify-content: center;
}

.links > a {
  display: flex;
  margin-left: 0.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.links > a:hover {
  background: var(--han-purple-lighter);
}

.links > a.linkTablet {
  display: none;
}

@media (min-width: 500px) {
  .image {
    height: 360px;
  }

  .links > a.linkMobile {
    display: none;
  }

  .links > a.linkTablet {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 3rem;
    box-shadow: 1px 1px 32px rgb(0 0 0 / 25%);
    width: 750px;
  }

  .image {
    margin-bottom: 1.5rem;
  }

  .container > div:last-child {
    margin-top: 0;
  }
}
